extends layout

block content
	h1= title

	ul(class="list-group")
		each quote in quotes
			li(class='list-group-item')= quote.text


script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js')
script(src='../app.js')